<div class=" animated fadeIn row">
    <div class="col-md-9  mx-auto" >
      <div>
        <div class="card ">
          <div class="card-header">
            Forget Password
          </div>
          <div class="card-body"   >
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

              <div class=" form-group row col-md-12" style="display: flex;
              align-items: center;
              justify-content: center;" >
                  <h6>
                    Change your account password often to prevent unauthorized access to your account.
                  </h6>
              </div>
              <div *ngIf="!onChangePassword" class=" form-group row col-md-12 "style="display: flex;
              align-items: center;
              justify-content: center;margin-bottom:30px; margin-left:-3px " >
                <img [src]="imgUrl" class="width: 200px; height: 200px;" class="rounded-circle ">
              </div>
              
               <div *ngIf="!onChangePassword" class=" form-group  col-md-12"  style="display: flex;
               align-items: center;
               justify-content: center;">
                   <div class="form-group">
                       <div >
                           <button  style="padding:8px 70px 8px 70px;" type="button" (click)="onPasswordChange()" class="btn btn-success">Change Password</button>
                       </div>
                   </div>
               </div>

               <div *ngIf="onChangePassword" class="row col-md-12"  style="display: flex;
               align-items: center;
               justify-content: center;;">
               
               <div class="row" >
                <label class="col-md-6">New Password</label>
                <div class="form-group col-md-10">
                 
                  <input type="password" placeholder="Enter password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <label class="col-md-6">Repeat Password</label>
                <div class="form-group col-md-10">
                 
                  <input type="password" placeholder=" Re enter password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button  type="submit" class="btn btn-success mr-1">Save</button>
                <button   class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>

               <!-- <div  class="form-group row input-group mb-3 col-lg-5">
                

                <div class="form-group row input-group mb-3 col-lg-5">
                  
                </div>

                
               </div> -->
                  
               </div>
              
             
                
    
              
             
            </form>
          </div>
          
        </div>
      </div>
  
    </div>
  
  </div>