<div class="container" style="margin: auto;" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong> Add Users </strong>
          <small>Details</small>
        </div>
        <div class="card-body">
    
          <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
            <div class="row" >
              <div class="col-md-2">
                <div class="form-group">
                  <input type="text" class="form-control"  
                    placeholder="Name"  required
                    formControlName="name"
                    >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="email" class="form-control"
                    placeholder="Email"  required
                    formControlName="email"
                    >
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <input type="tel" class="form-control"
                    placeholder="Mobile Number"  required
                    formControlName="mobilenumber"
                    >
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                 
                      <select  class="form-control" formControlName="role" placeholder="Role" 
                       required
                       >     
                            <option value="1">Admin</option>
                            <option value="2">IT</option>
                            <option value="3">Marketing</option>
                       </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="password" class="form-control" 
                    placeholder="Password" required
                    formControlName="password"
                    >
                </div>
              </div>
             
            </div>
             
            <button type="submit" [disabled]= "detailForm.invalid" class="btn btn-success pull-right">Add User</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>



  