<div  class=" animated fadeIn row" >
    <div class="col-md-12 mx-auto" style="padding: 3px;" >
      <div >
        <div class="card "  >
  
          <div class="card-body" style="height: 100%;">


            <div class="container col-md-12"  style="display: flex;
            " style="margin-top: 2%;">
            <div class="row col-md-12"  style="padding: 20px;">
               <h2>Backup data</h2>
            </div>
                <div class="row col-md-12" style="padding: 20px; margin: 5px; border: 2; background-color:whitesmoke">
                   
                <h5 style="margin: 10px 0; line-height: 30px;">Export all your data such as Estimates, Invoices, Credit Notes etc. from Zoho Inventory on to a CSV file. You will receive an email with a link to download your data a few minutes after you click on Backup Your Data.</h5>
                <button style="margin-top: 15px;  padding:5px 30px 5px 30px;" type="submit"  class="btn btn-primary pull-left">Backup Data</button>
                </div>

            </div>
  
  
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>