<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container" style="padding: 5px;">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card-group">
            <div class="card p-3">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" >
                  <h1>Login</h1>
                  <p class="text-muted">Sign in to your account</p>
                  <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" placeholder=" Email Address" tabindex="1" style=" border: 2;"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                  <div class="form-group input-group mb-3 " >
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <input  type="password"  style=" border: 2;"  tabindex="2" placeholder="Enter password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                  <div class="form-group row">
                    <div class="col-6">
                      <!-- <mat-spinner-button 
                      type="submit" 
                      [options]="spinnerButtonOptions"
                      (btnClick)="someFunc() ">
                    </mat-spinner-button> -->
                      
                    <button tabindex="3" style="margin:2px; padding:5px 30px 5px 30px;" class="btn btn-primary mr-1">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button  type="button"  [routerLink]="['/forgetpassword']" style="margin:2px; padding:5px 30px 5px 30px;" routerLinkActive="router-link-active" class="btn btn-link px-0">OTP LOGIN</button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 col-md-8">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>To create an account</p>
                  <button style="padding:5px 40px 5px 40px;" type="button" [routerLink]="['/register']" routerLinkActive="router-link-active"  class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
