<div  class=" animated fadeIn row" >
    <div class="col-md-12 mx-auto" style="padding: 3px;" >
      <div >
        <div class="card "  >
  
          <div class="card-body" style="height: 100%; padding: 20px; ">


            <div class="col-md-6">
                <div class="row">
                    <img src="../../../assets/img/logo.svg" width="150px" height="80px" >
                </div>
                <div class="row">
                    <h6>Message Bird is an external SMS provider that can enable you to receive and send messages to your customers.
                      .</h6>
                </div>
                <div class="row">
                   
                   <button style="margin-top: 15px;  padding:5px 30px 5px 30px; word-spacing: 3px;" type="submit"  class="btn btn-primary pull-left">Setup Now</button>
                  
                   
                </div>
            </div>
  
  
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>