<div class="container" style="padding: 0px;" >
    <div class="col-md-12 " style="padding: 0px;">
      <div class="card">
        <div class="card-header">
          <strong> UPDATE STOCKS </strong>
         

          <button style="padding:5px 40px 5px 40px;" tooltip="Delete Stocks" placement="top" show-delay="500" data-toggle="modal" (click)="dangerModal.show()" class="btn btn-danger pull-right">Delete</button>

          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Do you want delete this {{stock.product}}</h4>
                </div>
                
                <div class="modal-footer">
                  <button style="padding:5px 40px 5px 40px;" type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
                  <button style="padding:5px 40px 5px 40px;" type="button" (click)="deleteStocks()" class="btn btn-danger">Delete</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

        </div>
        <div class="card-body">
    
          <form [formGroup]="detailForm" (ngSubmit)="onUpdate()">
            <div class="row">
              <label class="col-md-3">Date :</label>
              <div class="form-group col-md-5">
                <input type="text" readonly class="form-control" placeholder="Date"  formControlName="date" #date [(ngModel)] = "stock.date"
                [ngClass]="{'is-invalid':detailForm.get('date').touched && detailForm.get('date').invalid}"  />
                <div class="invalid-feedback">
                  <div>Date is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">Stock Point :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Stock Point"  formControlName="stockPoint" #stockPoint [(ngModel)] = "stock.stockPoint"
                [ngClass]="{'is-invalid':detailForm.get('stockPoint').touched && detailForm.get('stockPoint').invalid}"  />
                <div class="invalid-feedback">
                  <div>Stock Point is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">Product Name :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Product Name"  formControlName="product" #product [(ngModel)] = "stock.product" 
                [ngClass]="{'is-invalid':detailForm.get('product').touched && detailForm.get('product').invalid}"  />
                <div class="invalid-feedback">
                  <div>Product Name is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">Grade :</label>
              <div class="form-group col-md-5">
                <select class="form-control" placeholder="Grade"  formControlName="grade" #grade [(ngModel)] = "stock.grade"
                [ngClass]="{'is-invalid':detailForm.get('grade').touched && detailForm.get('grade').invalid}" >  
                <option value="0">select</option>  
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>Grade is required</div>
                  </div>
              
            </div>
            </div>
<!-- 
            <div class="row">
              <label class="col-md-3">Unit :</label>
              <div class="form-group col-md-5">
                <input type="tel" class="form-control" placeholder="Unit" formControlName="units" #unit [(ngModel)] = "stock.units"
                [ngClass]="{'is-invalid':detailForm.get('units').touched && detailForm.get('units').invalid}"  />
                <div class="invalid-feedback">
                  <div>Unit is required</div>
                </div>
            </div>
            </div> -->

            <div class="row">
              <label class="col-md-3">Opening Stock :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Opening Stock" formControlName="openingStock" #openingStock  [(ngModel)] = "stock.openingStock"
                [ngClass]="{'is-invalid':detailForm.get('openingStock').touched && detailForm.get('openingStock').invalid}"  />
                <div class="invalid-feedback">
                  <div>Opening Stock is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">Stock In :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Stock In" formControlName="stockIn" #stockIn [(ngModel)] = "stock.stockIn"
                [ngClass]="{'is-invalid':detailForm.get('stockIn').touched && detailForm.get('stockIn').invalid}"  />
                <div class="invalid-feedback">
                  <div>Stock In is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">Stock Out :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Stock Out" formControlName="stockOut"  #stockOut  [(ngModel)] = "stock.stockOut"
                [ngClass]="{'is-invalid':detailForm.get('stockOut').touched && detailForm.get('stockOut').invalid}"  />
                <div class="invalid-feedback">
                  <div>Stock Out is required</div>
                </div>
            </div>
            </div>
    
    
           
  
            <button style="padding:5px 40px 5px 40px;" type="submit" [disabled]= "detailForm.invalid" class="btn btn-info pull-right">Update</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
  
  