<div class="container" style="padding: 0px;" >
  <div class="col-md-12" style="padding: 0px;" >
    <div class="card">
      <div class="card-header">
        <strong> Add Vendor </strong>
       
      </div>
      <div class="card-body" >
  
        <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">

          <!-- <div class="row">
            <label class="col-md-3">SI no :</label>
            <div class="form-group col-md-5">
              <input type="yel" class="form-control" placeholder="SI No"  formControlName="sino" #sino 
              [ngClass]="{'is-invalid':detailForm.get('sino').touched && detailForm.get('sino').invalid}"  />
              <div class="invalid-feedback">
                <div>SI no is required</div>
              </div>
          </div>
          </div> -->

          <div class="row">
            <label class="col-md-3">Vendor Name :</label>
            <div class="form-group col-md-5">
              <input type="text" class="form-control" placeholder="Vendor Name"  formControlName="suplierName" #suplierName 
              [ngClass]="{'is-invalid':detailForm.get('suplierName').touched && detailForm.get('suplierName').invalid}"  />
              <div class="invalid-feedback">
                <div>Suplier Name is required</div>
              </div>
          </div>
          </div>

          <div class="row">
            <label class="col-md-3">Address :</label>
            <div class="form-group col-md-5">
              <textarea type="text" rows="3" class="form-control" placeholder="Address"  formControlName="address" #address 
              [ngClass]="{'is-invalid':detailForm.get('address').touched && detailForm.get('address').invalid}"  ></textarea>
              <div class="invalid-feedback">
                <div>Address is required</div>
              </div>
          </div>
          </div>

          

          <div class="row">
            <label class="col-md-3">City :</label>
            <div class="form-group col-md-5">
              <input type="text" class="form-control" placeholder="City" formControlName="city" #city 
              [ngClass]="{'is-invalid':detailForm.get('city').touched && detailForm.get('city').invalid}"  />
              <div class="invalid-feedback">
                <div>City is required</div>
              </div>
          </div>
          </div>

          <div class="row">
            <label class="col-md-3">State :</label>
            <div class="form-group col-md-5">
              <input type="text" class="form-control" placeholder="State"formControlName="state" #state 
              [ngClass]="{'is-invalid':detailForm.get('state').touched && detailForm.get('state').invalid}"  />
              <div class="invalid-feedback">
                <div>State is required</div>
              </div>
          </div>
          </div>

          <div class="row">
            <label class="col-md-3">Contact Number :</label>
            <div class="form-group col-md-5">
              <input type="tel" class="form-control" placeholder="Contact Number" formControlName="contactNumber" #contactNumber 
              [ngClass]="{'is-invalid':detailForm.get('contactNumber').touched && detailForm.get('contactNumber').invalid}"  />
              <div class="invalid-feedback">
                <div>Contact Number is required</div>
              </div>
          </div>
          </div>

          <div class="row">
            <label class="col-md-3">Status :</label> 
            <div class="form-group col-md-5">
              <select  class="form-control" formControlName="status" placeholder="Status" #status 
              [ngClass]="{'is-invalid':detailForm.get('status').touched && detailForm.get('status').invalid}" >    
              <option value="Active">Active</option>
              <option value="Passive">Passive</option>
              <option value="Retired">Retired</option>
                </select>
                <div class="invalid-feedback">
                  <div>Status is required</div>
                </div>
            
          </div>
          </div>

          <!-- <div class="row">
            <label class="col-md-3">Product :</label>
            <div class="form-group col-md-5">
              <input type="text" class="form-control" placeholder="Product" formControlName="product" #product 
              [ngClass]="{'is-invalid':detailForm.get('product').touched && detailForm.get('product').invalid}"  />
              <div class="invalid-feedback">
                <div>Product is required</div>
              </div>
          </div>
          </div> -->
  
          <div class="row">
            <label class="col-md-3">Product Name :</label>
            <div class="form-group col-md-5">
              <select class="form-control"  placeholder="Product Name" formControlName="product" [(ngModel)]="resume.product" #product 
              [ngClass]="{'is-invalid':detailForm.get('product').touched && detailForm.get('product').invalid}">  
              <option value=" ">Select Product</option>  
              <option *ngFor="let obj of products " >{{obj.itemname}} </option>
                </select>
                <div class="invalid-feedback">
                  <div>Product Name is required</div>
                </div>
            
          </div>
          </div>
  
          
  
       

          <button type="submit" [disabled]= "detailForm.invalid" class="btn btn-success pull-right">Add Suplier</button>
        </form>
      </div>
    </div>
  </div>
  
</div>

