<div class="container" style="padding: 0px;" >
    <div class="col-md-12" style="padding: 0;">
      <div class="card">
        <div class="card-header">
          <strong> UPDATE WAREHOUSE </strong>
          <button style="padding:5px 20px 5px 20px; " tooltip="Delete Customer"  placement="top" show-delay="500"
                    data-toggle="modal" (click)="dangerModal.show()" class="btn btn-danger pull-right"> Delete</button>
                    <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-danger" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Do you want delete {{warehouse.warehouseName}}</h4>
                        </div>
  
                        <div class="modal-footer">
                          <button style="padding:5px 20px 5px 20px; " type="button" class="btn btn-secondary btn-xs " (click)="dangerModal.hide()">Cancel</button>
                          <button style="padding:5px 20px 5px 20px; " type="button" (click)="deleteCustomer()" class="btn btn-danger btn-xs ">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="card-body">
    
          <form [formGroup]="detailForm" (ngSubmit)="onUpdate()">
       

            
            <div class="row">
              <label class="col-md-3">Warehouse Name :</label>
              <div class="form-group col-md-5">
                <input type="tel" class="form-control" placeholder="Warehouse Name"  formControlName="warehouseName" #warehouseName [(ngModel)] = "warehouse.warehouseName"
                [ngClass]="{'is-invalid':detailForm.get('warehouseName').touched && detailForm.get('warehouseName').invalid}"  />
                <div class="invalid-feedback">
                  <div>Warehouse Name is required</div>
                </div>
            </div>
            </div>
  
           
  
            <div class="row">
              <label class="col-md-3"> Street 1 :</label>
              <div class="form-group col-md-5">
                <textarea type="text" rows="1" class="form-control" placeholder="Street 1"  formControlName="street1" #street1  [(ngModel)] = "warehouse.street1"
                [ngClass]="{'is-invalid':detailForm.get('street1').touched && detailForm.get('street1').invalid}"  ></textarea>
                <div class="invalid-feedback">
                  <div>Street 1 is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3"> Street 2 :</label>
              <div class="form-group col-md-5">
                <textarea type="text" rows="1" class="form-control" placeholder="Street 2"  formControlName="street2" #street2  [(ngModel)] = "warehouse.street2"
                [ngClass]="{'is-invalid':detailForm.get('street2').touched && detailForm.get('street2').invalid}"  ></textarea>
                <div class="invalid-feedback">
                  <div>Street 2 is required</div>
                </div>
            </div>
            </div>
  
            <div class="row">
              <label class="col-md-3"> City :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder=" City"  formControlName="city" #city  [(ngModel)] = "warehouse.city"
                [ngClass]="{'is-invalid':detailForm.get('city').touched && detailForm.get('city').invalid}"  />
                <div class="invalid-feedback">
                  <div> City is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">  Country :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="Country" formControlName="country" #country  [(ngModel)] = "warehouse.country"
                [ngClass]="{'is-invalid':detailForm.get('country').touched && detailForm.get('country').invalid}"  />
                <div class="invalid-feedback">
                  <div>Country is required</div>
                </div>
            </div>
            </div>
  
            <div class="row">
              <label class="col-md-3">  State :</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="State" formControlName="state" #state [(ngModel)] = "warehouse.state"
                [ngClass]="{'is-invalid':detailForm.get('state').touched && detailForm.get('state').invalid}"  />
                <div class="invalid-feedback">
                  <div>State is required</div>
                </div>
            </div>
            </div>
  
            
            <div class="row">
              <label class="col-md-3">  Number:</label>
              <div class="form-group col-md-5">
                <input type="tel" class="form-control" placeholder=" Number" formControlName="number" #number [(ngModel)] = "warehouse.number"
                [ngClass]="{'is-invalid':detailForm.get('number').touched && detailForm.get('number').invalid}"  />
                <div class="invalid-feedback">
                  <div> Number is required</div>
                </div>
            </div>
            </div>

            <div class="row">
              <label class="col-md-3">  Email:</label>
              <div class="form-group col-md-5">
                <input type="email" class="form-control" placeholder=" Email" formControlName="email" #email [(ngModel)] = "warehouse.email"
                [ngClass]="{'is-invalid':detailForm.get('email').touched && detailForm.get('email').invalid}"  />
                <div class="invalid-feedback">
                  <div> Email is required</div>
                </div>
            </div>
            </div>
  
    
            <button style="margin: 10px; padding:5px 30px 5px 30px;" type="submit" [disabled]= "detailForm.invalid" class="btn btn-success pull-right">Update </button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
 