

  <div  class=" animated fadeIn row" >
    <div class="col-md-6mx-auto" style="padding: 3px;" >
      <div >
        <div class="card "  >
  
          <div class="card-body" style="height: 100%;">


            <tabset #staticTabs>
                <tab class="customClass" heading="Customer Payments" >
                 <div class="col-md-6">
                     <div class="row">
                         <img src="../../../assets/img/Razorpay.png" width="150px" height="80px" >
                     </div>
                     <div class="row">
                         <h6>Razorpay is an Indian payment gateway which allows your customer to pay via cards, netbanking and wallets.</h6>
                     </div>
                     <div class="row">
                        <p >Online Transaction Fees</p>
                        <p> 2% fee + 18% GST on the fee, per transaction (Domestic cards, Netbanking and wallets)</p>
                        <p>3% fee + 18% GST on the fee, per transaction (International, Diners and Amex cards)</p>
                        <button style="margin-top: 15px;  padding:5px 30px 5px 30px; word-spacing: 3px;" type="submit"  class="btn btn-primary pull-left">Setup Now</button>
                       
                        
                     </div>
                 </div>
                </tab>
                <tab heading="vendor Payments">
                    <div class="col-md-6">
                        <div class="row">
                            <img src="../../../assets/img/Razorpay.png" width="150px" height="80px" >
                        </div>
                        <div class="row">
                            <h6>Razorpay is an Indian payment gateway which allows your customer to pay via cards, netbanking and wallets.</h6>
                        </div>
                        <div class="row">
                           <p >Online Transaction Fees</p>
                           <p> 2% fee + 18% GST on the fee, per transaction (Domestic cards, Netbanking and wallets)</p>
                           <p>3% fee + 18% GST on the fee, per transaction (International, Diners and Amex cards)</p>
   
                          
                           <button style="margin-top: 15px;  padding:5px 30px 5px 30px; word-spacing: 3px;" type="submit"  class="btn btn-primary pull-left">Setup Now</button>
                        </div>
                    </div>
                </tab>
                
              </tabset>
  
  
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>